html, body, a, p, li, ul, div, h3 h4, h5, h6 {
	padding: 0px;
	margin: 0px;
} 

div.heading-top-cont {
	background: #0F2D52;
	text-align: center;
}
div.top-cont {
	margin: 0 auto;
	max-width: 960px;
	div.personal-contact {
		margin: 20px 0px;
		display: table;
		img {
			border-radius: 100%;
			width: 100px;
			height: 100px;
			background: white;
			margin-left: 15px;
		}
		.pc-cont {
			display: inline-block;
			color: white;
			text-align: left;
			display: table-cell;
			vertical-align: middle;
		}
		p.personal-info {
			font-size: 14px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		h5.personal-heading {
			padding-top: 10px;
		}
		p.personal-info, h5.personal-heading {
			padding-left: 10px;
			padding-right: 15px;
		}
	}
}
div.articles-cont {
	.one-article {
		margin: 30px auto;
		max-width: 960px;
		padding-bottom: 30px;
	}
	div.article-cont {
		display: table;
	}
	div.timeline {
		width: 10%;
		font-size: 10px;
		display: table-cell;
		text-align: right;
		padding-right: 15px;
	}
	div.article-info-cont {
		display: table-cell;
		width: 90%;
		padding-left: 25px;
		border: 2px solid #717171;
		border-width: 0px 0px 0px 2px;
		p.article-info {
			line-height: 25px;
			padding: 20px 0px;
		}
		a {
			background: #006FBF;
			padding: 10px 20px;
			margin-top: 10px;
			border-radius: 5px;
			color: white;
			margin-bottom: 30px;
		}
		div.empty-cont {
			height: 15px;
			width: 100%;
		}
	}
}

@media only screen and (max-width: 960px) {
	img {
		margin-left: 0px !important;
	}
	div.personal-contact {
		padding-right: 0px !important;
	}
	div.article-cont {
		display: block !important;
		text-align: center !important;
		padding-left: 0px !important;
	}
	div.timeline {
		display: block !important;
		text-align: center;
		width: 100% !important
	}
	div.article-info-cont {
		border: none !important;
		width: 100% !important
	}
}